html{
	margin:0;
	padding:0;
}

body {
	background-color:#0CF;
	background:url(../images/background.png) 50%;
	
	font: normal 1.5/100% Arial, Helvetica, sans-serif;
	color: #000;	
}

#map {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width:50%;
}

#dataset {
	width:350px;
	height:350px;
	overflow:scroll;
} 

h1{
	margin:0;
	padding:1em;
	color:#FFF;
}


h3 {
	text-decoration:underline;
}


a,
a:link,
a:visited {
	color:#000;
	text-decoration:none;
}

a:hover,
a:focus,
a:active {
	color:#38F6FF;
}

.sitemap,
.wireframe{
	border-bottom:dotted;
	border-color:#000;
	margin-left:10px;
}

li {
	list-style-type:none;
}

.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;

list-style-type: none;
line-height: 1;
}

.rater-level {
float: left;

color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color: #efecd2;
text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #ffe91f;
}

.info-window strong {
display: block;
}