html{
	margin:0;
	padding:0;
}

body {
	background-color:#0CF;
	background:url(../images/background.png) 50%;
	
	font: normal 1.5/100% Arial, Helvetica, sans-serif;
	color: #000;	
}

#map {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #000000;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #000000;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: medium;
    bottom: 0;
    display: inline;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
	height:100%;
}

#dataset {
	width:350px;
	height:350px;
	overflow:scroll;
} 

h1{
	margin:0;
	padding:1em;
	color:#FFF;
}


h3 {
	text-decoration:underline;
}


a,
a:link,
a:visited {
	color:#000;
	text-decoration:none;
}

a:hover,
a:focus,
a:active {
	color:#38F6FF;
}

.sitemap,
.wireframe{
	border-bottom:dotted;
	border-color:#000;
	margin-left:10px;
}

li {
	list-style-type:none;
}

.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;

list-style-type: none;
line-height: 1;
}

.rater-level {
float: left;

color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color: #efecd2;
text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #ffe91f;
}

.info-window strong {
display: block;
}